@model Book

@{
	ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<a href="/">Back</a>

<form action="/edit/@Model.Id" method="post" name="book">
	<label>Author:</label><input type="text" name="Author" value="@Model.Author" />
	<hr />
	<label>Title:</label><input type="text" name="Title" value="@Model.Title" />
	<hr />
	<label>Language:</label><input type="text" name="Language" value="@Model.Language" />
	<hr />
	<label>Page:</label><input type="number" name="Page" value="@Model.Page" />
	<hr />
	<label>Publication Date:</label><input type="text" name="PublicationDate" value="@Model.PublicationDate" />
	<hr />
	<label>Quantity:</label><input type="number" name="Quantity" value="@Model.Quantity" /> <span> db</span>
	<hr />
	<label>Price:</label><input type="number" name="Price" value="@Model.Price" /> <span> HUF</span>
	<hr />

	<button type="submit">Submit</button>
</form>