@model List<Book>
@{
	ViewData["Title"] = "Index";
}

<h2>Index - Books</h2>

<form action="/list" method="post">
	<input type="search" name="input" value="" placeholder="Search" />
</form>

<a href="/add">Add</a>

<table class="table table-bordered table-responsive table-hover">
	<thead style="border: none;">
		<tr>
			<th>Author</th>
			<th>Title</th>
			<th>Language</th>
			<th>Page</th>
			<th>Publication</th>
			<th>Quantity</th>
			<th>Price</th>
		</tr>
	</thead>
	<tbody>
		@foreach (Book book in Model)
		{
		<tr>
			<td>@book.BookId</td>
			<td>@book.Author</td>
			<td>@book.Title</td>
			<td>@book.Language</td>
			<td>@book.Page</td>
			<td>@book.PublicationDate</td>
			<td>@book.Quantity db</td>
			<td>@book.Price HUF</td>
			<td><a href="/@book.BookId/edit">EDIT</a></td>
			<td><a href="/@book.BookId/delete">DELETE</a></td>
		</tr>
		}
	</tbody>
</table>
