@model List<Book>
@{
	ViewData["Title"] = "Index";
}

<h2>Index - Books</h2>

<form action="/books" method="post">
	<input type="search" name="input" value="" placeholder="Search" />
</form>

<a href="/books/add">Add</a>
<hr />
<a href="/books/edit">Edit</a>

<table class="table table-bordered table-responsive table-hover">
	<thead style="border: none;">
		<tr>
			<th>Author</th>
			<th>Title</th>
			<th>Description</th>
			<th>Publication</th>
			<th>Publisher</th>
			<th>Quantity</th>
			<th>Price</th>
		</tr>
	</thead>
	<tbody>
		@foreach (Book current in Model)
		{
		<tr>
			<td>@current.Id</td>
			<td>@current.Author</td>
			<td>@current.Title</td>
			<td>@current.Description</td>
			<td>@current.PublicationDate</td>
			<td>@current.Publisher</td>
			<td>@current.Quantity</td>
			<td>@current.Price HUF</td>
			<td><a href="/@current.Id/edit">EDIT</a></td>
			<td><a href="/@current.Id/delete">DELETE</a></td>
		</tr>
		}
	</tbody>
</table>
