@model Book

@{
	ViewData["Title"] = "View";
}

<h2>View</h2>

<a href="/">Back</a>
<hr />

<label>Author: </label><label name="Author">@Model.Author</label>
<hr />
<label>Title: </label><label name="Author">@Model.Title</label>
<hr />
<label>Language: </label><label name="Author">@Model.Language</label>
<hr />
<label>Page: </label><label name="Author">@Model.Page</label>
<hr />
<label>Publication Date: </label><label name="Author">@Model.PublicationDate</label>
<hr />
<label>Quantity: </label><label name="Author">@Model.Quantity</label>
<hr />
<label>Price: </label><label name="Author">@Model.Price HUF</label>
<hr />
