@model AntiqueStore.ViewModel.CustomerViewModel

@{
	ViewData["Title"] = "View";
}

<h2>View</h2>

<a href="/">Back</a>
<hr />

<label>First Name: </label><label name="FirstName">@Model.SelectedCustomer.FirstName</label>
<hr />
<label>Last Name: </label><label name="LastName">@Model.SelectedCustomer.LastName</label>
<hr />
<label>Email: </label><label name="Email">@Model.SelectedCustomer.Email</label>
<hr />
<label>Registration date: </label><label name="CreatedAt">@Model.SelectedCustomer.CreatedAt</label>
<hr />
<label>Orders: </label>
@foreach (var item in Model.Orders)
{
<label name="Orders">@Model.SelectedCustomer.Orders</label>
}

